.loginLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color:#333;
    width:200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;

}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#loginInput{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
     width: '80%';
     height: 40;
     background-color: '#4169E1';
     border-radius:10;
     padding-left: 10;
     outline: 'none';
     color: 'white';
}

